name: Publish a new release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Release Version (1.2.3 or 1.2.3b1)"
        required: true
        type: string

  workflow_call:
    inputs:
      version:
        description: "Release Version (1.2.3 or 1.2.3b1)"
        required: true
        type: string

env:
  PACKAGE_NAME: "step-cli-tools"
  PYPI_API_URL: "https://pypi.org/pypi/"
  PYPI_REPOSITORY_URL: "https://upload.pypi.org/legacy/"

jobs:
  validate_version:
    name: Validate version input
    runs-on: ubuntu-latest
    outputs:
      is_beta: ${{ steps.check_version.outputs.is_beta }}
    steps:
      - name: Validate version input
        id: check_version
        shell: bash
        run: |
          VERSION="${{ inputs.version }}"
          if [[ ! "$VERSION" =~ ^[0-9]+\.[0-9]+\.[0-9]+(b[0-9]+)?$ ]]; then
              echo "Invalid version format: $VERSION"
              echo "Use X.Y.Z or X.Y.ZbN (only normal or beta releases allowed)"
              exit 1
          else
              # Check if it's a beta version
              if [[ "$VERSION" == *b* ]]; then
                  echo "Version $VERSION is a beta release"
                  echo "is_beta=true" >> "$GITHUB_OUTPUT"
              else
                  echo "Version $VERSION is a normal release"
                  echo "is_beta=false" >> "$GITHUB_OUTPUT"
              fi
          fi

  gather_details:
    name: Gather release details
    needs: validate_version
    runs-on: ubuntu-latest
    outputs:
      new_version: ${{ steps.release.outputs.new_version }}
      suffix: ${{ steps.release.outputs.suffix }}
      tag_name: ${{ steps.release.outputs.tag_name }}
      is_beta: ${{ needs.validate_version.outputs.is_beta }}
    steps:
      - uses: actions/checkout@v6

      - name: Extract tag and gather_details
        id: release
        run: |
          TAG_NAME="${{ inputs.version }}"
          NEW_VERSION=$(echo $TAG_NAME | awk -F'-' '{print $1}')
          SUFFIX=$(echo $TAG_NAME | grep -oP '[a-z]+[0-9]+' || echo "")
          echo "new_version=$NEW_VERSION" >> "$GITHUB_OUTPUT"
          echo "suffix=$SUFFIX" >> "$GITHUB_OUTPUT"
          echo "tag_name=$TAG_NAME" >> "$GITHUB_OUTPUT"
          echo "Version is $NEW_VERSION"
          echo "Suffix is $SUFFIX"
          echo "Tag name is $TAG_NAME"

  check_pypi:
    name: Check version on PyPI
    needs: gather_details
    runs-on: ubuntu-latest
    steps:
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install packaging
        run: python3 -m pip install packaging --upgrade

      - name: Fetch latest PyPI version
        run: |
          # Get the latest version from PyPI
          latest_previous_version=$(curl -s https://pypi.org/pypi/${{ env.PACKAGE_NAME }}/json | \
          grep -Po '"version":\s*"\K[0-9A-Za-z\.\-]+(?=")' | tail -n 1)

          if [ -z "$latest_previous_version" ]; then
            echo "[ERROR] Package (version) not found on PyPI."
            exit 1
          fi

          echo "[INFO] Latest version on PyPI: $latest_previous_version"
          echo "latest_previous_version=$latest_previous_version" >> $GITHUB_ENV

      - name: Compare versions and exit if not newer
        run: |
          python3 - <<EOF
          import sys
          from packaging.version import parse

          new_version = parse("${{ needs.gather_details.outputs.new_version }}")
          latest_version = parse("$latest_previous_version")

          if new_version > latest_version:
              print(f"[INFO] The new version {new_version} is greater than the latest version {latest_version} on PyPI.")
          else:
              print(f"[INFO] The new version {new_version} is not greater than the latest version {latest_version} on PyPI.")
              sys.exit(1)
          EOF

  build_and_publish:
    name: Build and publish package to PyPI
    needs: [gather_details, check_pypi]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"

      - name: Install Poetry
        uses: abatilo/actions-poetry@v4
        with:
          poetry-version: "2.2.1"

      - name: Set project version with Poetry
        run: |
          poetry version ${{ needs.gather_details.outputs.new_version }}

      - name: Install dependencies
        run: |
          poetry sync
          poetry install --no-interaction

      - name: Build source and wheel distribution
        run: |
          poetry build

      - name: Publish to PyPI
        run: |
          poetry config repositories.pypirepository ${{ env.PYPI_REPOSITORY_URL }}
          poetry publish --repository pypirepository --username __token__ --password ${{ secrets.PYPI_API_TOKEN }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v5
        with:
          name: dist
          path: dist/

  delete_old_betas:
    name: Cleanup old beta tags and releases
    needs: build_and_publish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Delete old beta tags and releases
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git fetch --prune --unshallow --tags
          latest_tag=$(git describe --tags --abbrev=0)
          echo "[INFO] Found latest tag: $latest_tag"

          # Check if the tag is a beta release
          if [[ "$latest_tag" =~ ^.*b[0-9]+$ ]]; then
            echo "[INFO] Deleting old beta release and tag: $latest_tag"
              
            # Delete the old beta release
            RELEASE_ID=$(gh api -X GET "/repos/${{ github.repository }}/releases" | jq -r ".[] | select(.tag_name==\"$latest_tag\") | .id")
            if [ -n "$RELEASE_ID" ]; then
              gh api -X DELETE "/repos/${{ github.repository }}/releases/$RELEASE_ID"
              echo "[INFO] Deleted release for tag: $latest_tag"
            else
              echo "[INFO] No release found for tag: $latest_tag"
            fi

            # Deletes the old beta tag
            git tag --delete "$latest_tag"
            git push --delete origin "$latest_tag"
            echo "[INFO] Deleted tag: $latest_tag"

          else
            echo "[INFO] Could not find a beta release and tag to delete."
          fi

  github_release:
    name: Publish GitHub release
    needs: [gather_details, delete_old_betas]
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: dist/

      - name: Create GitHub release
        id: create_release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          if [ "${{ needs.gather_details.outputs.is_beta }}" = "true" ]; then
              gh release create ${{ needs.gather_details.outputs.tag_name }} dist/* --title ${{ needs.gather_details.outputs.tag_name }} --prerelease
          else
              gh release create ${{ needs.gather_details.outputs.tag_name }} dist/* --title ${{ needs.gather_details.outputs.tag_name }} --generate-notes
          fi
